h1 {
    font-size: 28px;
}

h2 {
 font-size: 20px;
}

iframe.like-frame {
    width: 24px;
    height: 24px;
    border: none;
}

.blog-view .material-symbols-rounded {
    color: {AccentColor};
    transition: opacity 0.5s;
    transition-timing-function: linear;
}

.blog-view .material-symbols-rounded:hover {
    opacity: 0.6;
}

a.reblog_button svg:hover {
    opacity: 0.6 !important;
}

.post-card a:visited {
    opacity: 0.6;
}

p:empty {
    margin: 0px;
}

.card iframe {
    border-radius: 8px;
}	

.material-symbols-rounded {
    font-variation-settings:
    'FILL' 0,
    'wght' 600,
    'GRAD' 0,
    'opsz' 48
}

.style-text {
    font-family: 'Source Code Pro', 'Lucida Console', 'Courier New', monospace;
    text-decoration: none;
}

.serif-text {
    font-family:'Times New Roman', Times, serif;
}

.header {
    z-index: 69;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: auto;
    border-radius: 8px;
    height: auto;
    color: white;
    text-align: center;
    padding: 4px;
}

img.header0 {
    border-radius: 8px;
    height: 360px;
}

img.header1 {
    border-radius: 8px;
    height: 360px;
    width: 100%;
}

img.header2 {
    border-radius: 8px;
    height: 100%;
    width: 100%;
}

.main-body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

ul.nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 0px;
    list-style-type: none;
}

li.nav {
    display: block;
    margin-left: 12px;
    margin-right: 12px;
    
}

ul.tag {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    text-align: center;
    margin: 0px;
    padding: 8px 0px 8px 0px;
    list-style-type: none;
}

li.tag {
    display: block;
    margin-left: 4px;
    margin-right: 4px;
}

a.tag {
    text-decoration: none;
}

.sidebar {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: auto;
    height: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.following {
    height: fit-content;
    width: auto;
    max-height: 4800px;
    overflow-y: scroll;
}

.follow-header {
    height: fit-content;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
    margin-bottom: 4px;
}

a.follow-url {
    text-decoration: none;
    display: block;
    line-height: 32px;
}

#align {
    position: static;
    height: auto;
    width: auto;
}

#awawawa {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.post-container {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    margin: auto;
    margin-top: 20px;
    flex-flow: column nowrap;
}



.post-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    background-color: rgba(0,0,0,0);
    border-radius: 8px;
    line-height: 24px;
    height: autopx;
    width: 516px;
    padding: 8px 8px 0px 8px;
    margin: 0px auto 8px auto;
}

.post-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: left;
    background-color: none;
    border-radius: 8px;
    width: 516px;
    padding: 8px 8px 8px 8px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: none;
}


.card {
    margin: 0px;
    padding: 0px;
    display: block;
}

.portrait {
    width: 36px;
    height: 36px;
    border-radius: 2px;
}

.submit-label {
    display: block;
    text-align: center;
    padding-bottom: 4px;
}	

form.search {
    display: flex;
    align-content: center;
}

audio {
    width: 516px;
}

.style-text a {
    text-decoration: none;
}

.url-hide + p {
    display: none;
}

.img {
    border-radius: 8px;
}

.square {
    border-radius: 8px;
}

img.square {
    border-radius: 4px;
}

.circle {
    border-radius: 50%;
}

.avatar {
    border-radius: 8px;
    margin-right: 8px;
}

img.avatar {
    width: 24px;
    height: 24px;
}

.image {
    border-radius: 8px;
    width: 516px;
}

.ask .image {
    width: 500px;
}

iframe.video {
    width: 516px;
}

.tumblr_audio_player {
    height: 85px;
    width: 516px;
    border-radius: 8px;
}

.ask .tumblr_audio_player {
    width: 500px;
}

.tmblr-iframe {
    display: none;
}

.header-link {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
}
b.reblog-parent {
    line-height: 24px;
    margin-left: 4px;
}

b.reblog-root {
    line-height: 36px;
    margin-left: 8px;
    font-size: 18px;
}

.tags {
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 8px;
    padding: 4px;
}

.html_photoset {
    display: flex;
}

iframe.photoset {
    margin: auto;
}

.asker {
    padding: 0px;
    text-decoration: none;
}

.answerer {
    margin-top: 8px;
    padding: 0px;
    text-decoration: none;
}

.null {
    display: none;
}

.footer-card {
    min-height: 24px;
}

.tag-card {
    display: block;
    text-align: left;
}

.note-count {
    float: left;
    line-height: 24px;
    padding: 0px;
    margin: 0px;
}

.footer-content {
    display: flex;
    flex-flow: row nowrap;
    float: right;
}

.like-rb {
    padding: 0px 4px 0px 4px;
}

span.like-button:hover {
    opacity: 0.6;
}

ol.notes {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

.notes a{
    text-decoration: none;
}

.note {
    margin-bottom: 8px;
}

li.note {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.date-time {
    margin-right: 8px;
    color: #a0a0a0;
    font-family: 'Source Code Pro', 'Lucida Console', 'Courier New', monospace;
}

a.date-time {
    text-decoration: none;
}

.photoset {
    border-radius: 8px;
}

video {
    border-radius: 8px;
}

#discord-logo {
    transform: scale(0.5, 0.5);
    flex-shrink: 0;
}

#discord {
    margin: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-flow: row wrap;
}

#twitter {
    margin: auto;
}

.alt {
    cursor: pointer;
    color: #d8d4cf;
    position: absolute;
    left: 8px;
    background-color: #1c1f33;
    opacity: 0.25;
    padding: 2px 4px 2px 4px;
    border: none;
    border-radius: 2px;
    transition: opacity 0.75s;
}

.alt:hover {
    opacity: 0.75;
}

.attr:hover {
    text-decoration: underline;
}

.link {
    position: relative;
}

span.poster:hover {
    opacity: 0.75;
}

img.poster {
    float: right;
    border-radius: 8px;
    height: 96px;
}

.wrapper {
    border-radius: 8px;
    width: 516px;
    height: 296px;
    margin: 0px;
    padding: 0px;
    background-size: 516px;
}

.ask .wrapper {
    width: 500px;
    background-size: 500px;
}

.ask .audio-wrapper {
    width: 500px;
}

.audio-player {
    border-radius: 0px 0px 8px 8px;
    width: 516px;
    position: relative;
    bottom: -4px;
}

.ask .audio-player {
    width: 500px;
}

.video-player {
    border-radius: 8px;
}

.ask .track-title {
    max-width: 372px;
}

.text-wrapper {
    margin: 8px 0px 8px 0px;
    white-space: pre-line;
}

.blog {
    position: relative;
}

.blog-card {
    cursor: pointer;
    border-radius: 8px;
    position: absolute;
    top: 8px;
    left: 12px;
    margin: 8px;
    width: 256px;
    height: auto;
    z-index: 69;
    hyphens: auto;
}

.blog-header {
    z-index: 71;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 256px;
    border-radius: 8px 8px 0px 0px;
}

.blog-avatar {
    z-index: 72;
    position: absolute;
    left: 88px;
    border-radius: 8px;
    width: 80px;
    height: 80px;
}

.blog-description {
    z-index: 70;
    background-color: inherit;
    position: absolute;
    left: 0px;
    width: 248px;
    text-align: center;
    border-radius: 0px 0px 8px 8px;
    padding: 24px 4px 4px 4px;
}

.indented {
    border-style: none none none solid;
    border-width: 4px;
    border-color: #a0a0a0;
    margin-left: 16px;
    padding-left: 4px;
}

.mention {
    text-decoration: none;    
}

#submit-frame {
    width: 516px;
    background-color: transparent;
    height: 368px;
}

#f {
    display: none;
}
